@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

body {
    font-family: "Limelight", sans-serif;
    padding-top: 50px;
}


.website--title {
    font-family: "Limelight", sans-serif;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.game-button {
    padding: 15px 30px;
    margin: 20px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-icon {
    border-radius: 5%;
    width: 130px;
    height: auto;
    margin-bottom: 10px;
}
